
{{#if products.length}}

	<div class="row">
	{{#each products}}
	<div class="product col-4">
	  <a class="product-link" href="#/product/{{id}}">
	  	{{#each images}}
	  		<img src="{{this}}" alt="{{title}}" class="img-fluid product-img">
	  	{{/each}}
		  <div class="product-description">
		    <p class="product-name">{{brand.name}}</p>
		    <p class="product-price"><strong>${{pricing.retail}}</strong></p>
		  </div>
		  <div class="product-action-links">
	      <button type="button" class="order-now-btn btn btn-primary">
	        <span aria-hidden="true" class="fa fa-shopping-bag"></span>
	      </button>
	      <button type="button" class="add-to-wishlist-btn btn btn-secondary">
	        <i class='far fa-heart'></i>
	      </button>
		  </div>
	  </a>
	</div>
	{{/each}}
	</div>

{{else}}
	<div class="alert alert-info">Product(s) not found.</div>
{{/if}}
