
{{#if products.length}}

	<div class="row">
	{{#each products}}
	<div class="product col-4">
	  <a class="product-link" href="#/product/{{id}}">
	  	{{#each images}}
	  		<img src="{{this}}" alt="{{title}}" class="img-responsive product-img">
	  	{{/each}}
	  </a>
	  <div>
	    <p>{{brand.name}}</p>
	    <p><strong>${{pricing.retail}}</strong></p>
	  </div>
	  <div>
	    <div class="col-sm-4">
	      <a class="hover-link">
	        <span aria-hidden="true" class="fa fa-shopping-bag"></span><br>Order
	      </a>
	    </div>
	    <div class="col-sm-4">
	      <a class="hover-link">
	        <i class='far fa-heart'></i><br>Wishlist
	      </a>
	    </div>
	  </div>
	</div>
	{{/each}}
	</div>

{{else}}
	<div class="alert alert-info">Product(s) not found.</div>
{{/if}}
